<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#D-day</title>
    <link rel="stylesheet" href="static/css/mypage.css">
</head>
<body>
    <main id="main">
            <div class="title-container">
                <p class="maintitle"><a href="/templates/index.html"># D-day</a></p>
            </div>
            
            <div class="menubar-container">
                <p class="menu"><a href="/templates/plus.html">디데이 추가</a></p>
                <p class="menu">디데이 보기</p>
                <p class="menu"><a href="/templates/mypage.html">마이페이지</a></p>
            </div>

            <div class="make-container"></div>

            <h3>로그인을 해주세요.</h3>

            <div class="login-container">
                <a href="/templates/login.html">
                    <input type="button" class="login in" value="로그인">
                </a>

                <a href="/templates/join.html">
                    <input type="button" class="join in" value="회원가입">
                </a>
            </div>
    </main>
</body>
</html>