<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#D-day</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/see.css') }}">
</head>
<body>
    <main id="main">
        <div class="title-container">
            <p class="maintitle"><a href="{{ url_for('index') }}"># D-day</a></p>
        </div>
        
        <div class="menubar-container">
            <p class="menu"><a href="{{ url_for('plus') }}">디데이 추가</a></p>
            <p class="menu"><a href="{{ url_for('see') }}">디데이 보기</a></p>
            <p class="menu"><a href="{{ url_for('mypage') }}">마이페이지</a></p>
        </div>

    </main>
</body>
</html>